<ion-header>
  <ion-navbar color="primary">
      <ion-title>青少年宫、青少年活动中心服务管理规定</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="wrapper">
      <div class="text-container">
          <article class="_2rhmJa">
            <p style="font-size: 18px;text-align: center;margin: 10px 0;">青少年宫、青少年活动中心服务管理规定</p>
            <p>第一条 为了保障青少年宫学员的合法权益，确保学员信息的真实性和完整性，维护青少年宫正常的教学、管理秩序，根据国家相关法律法规，特制定本规定。</p>
            <p>第二条 本规定适用于青少年宫全体报名参加课程、活动的学员及其监护人。</p>
            <p>第三条 青少年宫在学员报名、注册时，要求学员提供有效的身份证号码（未成年人由监护人提供），以确保学员身份的真实性和有效性。</p>
            <p>第四条 学员的身份证号码将用于以下目的：</p>
            <p>1. 核实学员身份，确保报名信息的准确性；</p>
            <p>2. 符合国家相关部门对未成年人活动的监管要求；</p>
            <p>3. 学员学籍管理及课程安排；</p>
            <p>4. 活动评选、保险等后续服务的办理；</p>
            <p>5. 突发事件中的紧急联络和处理。</p>
            <p>第五条 青少年宫承诺严格按照《中华人民共和国个人信息保护法》等相关法律法规的规定，确保学员身份证号码的安全性与隐私性。未经学员及监护人同意，不会将身份证号码用于本规定之外的用途。</p>
            <p>第六条 学员的身份证号码将通过青少年宫的专用信息管理系统进行安全存储，系统具备加密和访问控制功能，防止信息泄露、篡改或丢失。</p>
            <p>第七条 仅限青少年宫授权的管理人员，基于必要性原则，按照最小化授权范围获取学员的身份证号码。</p>
            <p>第八条 学员或其监护人有权要求查询、修改或删除其提供的身份证号码信息。青少年宫将根据要求，按照合理流程在规定时间内处理。</p>
            <p>第九条 学员及其监护人应当提供真实、有效的身份证号码。若发现提供虚假或伪造身份证信息的行为，青少年宫有权取消其报名资格或终止相关服务。</p>
            <p>第十条 如有工作人员因违规操作导致学员身份证号码泄露或被滥用，将依据青少年宫的内部管理规定进行严肃处理，情节严重者将承担法律责任。</p>
          </article>
      </div>
  </div>
  <div class="buttons" *ngIf="!agreed">
      <button ion-button round (click)="accept()">同意</button>
      <button ion-button round (click)="reject()">暂不使用</button>
  </div>
  <div class="buttons" *ngIf="agreed">
      <button ion-button round (click)="back()">返回</button>
  </div>
</ion-content>