<!--
  Generated template for the ClassDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>学生注册</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="register">
    <div class="form-grid">
      <ion-grid>
        <ion-row>
          <ion-col col-3>用户名</ion-col>
          <ion-col col-9>
            <input type="text" [(ngModel)]="formData.name" placeholder="请输入学生姓名">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>手机号码</ion-col>
          <ion-col col-9>
            <input type="number" [(ngModel)]="formData.mobile" placeholder="请输入手机号码">
          </ion-col>
        </ion-row>
        <ion-row *ngIf="officePhoneEnabled">
          <ion-col col-3>手机号码二</ion-col>
          <ion-col col-9>
            <input type="number" [(ngModel)]="formData.officePhone" placeholder="请输入手机号码">
          </ion-col>
        </ion-row>
        <div class="prompt">
          根据<span (click)="goAlert()">《青少年宫、青少年活动中心服务管理规定》</span>要求，注册时需提供身份证号码才能正常进行服务
        </div>
        <ion-row>
          <ion-col col-3>证&nbsp;&nbsp;件</ion-col>
          <ion-col col-9>
            <input type="text" (keyup)="cardNumChange()" [(ngModel)]="formData.cardNo" placeholder="请输入学员身份证号">
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="{'disabled': idCardRequired}">
          <ion-col col-3>性&nbsp;&nbsp;别</ion-col>
          <ion-col col-9>
            <div class="radio-group">
              <button *ngFor="let sex of sexes" (click)="setSex(sex.code)">
                <ion-icon name="md-radio-button-off" *ngIf="sex.code !== formData.sex"></ion-icon>
                <ion-icon name="md-radio-button-on" *ngIf="sex.code === formData.sex"></ion-icon>
                &nbsp;&nbsp;{{sex.name}}
              </button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="{'disabled': idCardRequired}">
          <ion-col col-3>出生日期</ion-col>
          <ion-col col-9>
            <button class="custom-date" (click)="showDatePicker()">
              {{formData.birthday}}<ion-icon name="ios-arrow-down"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>年&nbsp;&nbsp;级</ion-col>
          <ion-col col-9>
            <div class="custom-select">
              <div class="display">
                {{currentGradeLabel}}<ion-icon name="ios-arrow-down"></ion-icon>
              </div>
              <ion-select [(ngModel)]="formData.grade" okText="确定" cancelText="取消">
                <ion-option *ngFor="let grade of grades" value="{{grade.value}}">{{grade.label}}</ion-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>学校</ion-col>
          <ion-col col-9>
            <input type="text" [(ngModel)]="formData.school" placeholder="请输入学校名称" (focus)="showSchoolPicker()">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="contract">
      <ion-icon name="checkmark-circle-outline" *ngIf="!agreementChecked" (click)="agreementChecked = true"></ion-icon>
      <ion-icon name="md-checkmark-circle" *ngIf="agreementChecked" (click)="agreementChecked = false"></ion-icon>
      &nbsp;同意并接受<span (click)="openContract()">《隐私政策制度、用户信息保护制度》</span>
    </div>
    <div class="submit-button-container">
      <button (click)="submit()">
        注册
      </button>
    </div>
  </div>
</ion-content>
