<ion-header>
    <ion-navbar color="primary">
        <ion-title>隐私政策制度、用户信息保护制度</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="wrapper">
        <div class="text-container">
            <article class="_2rhmJa">
                <p style="font-size: 18px;text-align: center;margin: 10px 0;">隐私政策制度</p>
                <p>本应用（数字少年宫）尊重并保护所有使用服务用户的个人隐私权。但本应用将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本应用不会将这些信息对外披露或向第三方提供。本应用会不时更新本隐私权政策。
                    您在同意本应用服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应用服务使用协议不可分割的一部分。</p>
                <p>1. 适用范围</p>
                <p>(a) 在您注册本应用帐号时，您根据本应用要求提供的个人注册信息；我们的产品基于ionic-angular开发，应用运行期间需要收集您的设备唯一识别码（IMEI/android
                    ID/DEVICE_ID/IDFA、SIM 卡 IMSI 信息、OAID）以提供统计分析服务，并通过应用启动数据及异常错误日志分析改进性能和用户体验，为用户提供更好的服务。我们的应用集成了第三方服务（com.alipay、腾讯移动开放平台），以便为您提供更便捷的服务</p>
                <p>(b)
                    在您使用本应用网络服务，或访问本应用平台网页时，本应用自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；
                </p>
                <p>(c) 本应用通过合法途径从商业伙伴处取得的用户个人数据。</p>
                <p>您了解并同意，以下信息不适用本隐私权政策：</p>
                <p>(a) 您在使用本应用平台提供的搜索服务时输入的关键字信息；</p>
                <p>(b) 本应用收集到的您在本应用发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；</p>
                <p>(c) 违反法律规定或违反本应用规则行为及本应用已对您采取的措施。</p>
                <p>2. 信息使用</p>
                <p>(a)本应用不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本应用（含本应用关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。
                </p>
                <p>(b) 本应用亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本应用平台用户如从事上述活动，一经发现，本应用有权立即终止与该用户的服务协议。</p>
                <p>3. 信息披露</p>
                <p>在如下情况下，本应用将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：</p>
                <p>(a) 经您事先同意，向第三方披露；</p>
                <p>(b)为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
                <p>(c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
                <p>(d) 如您出现违反中国有关法律、法规或者本应用服务协议或相关规则的情况，需要向第三方披露；</p>
                <p>(e) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
                <p>(f) 在本应用平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，本应用有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。</p>
                <p>(g) 其它本应用根据法律、法规或者网站政策认为合适的披露。</p>
                <p>4. 信息存储和交换</p>
                <p>本应用收集的有关您的信息和资料将保存在本应用及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本应用收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
                <p>5. Cookie的使用</p>
                <p>(a) 在您未拒绝接受cookies的情况下，本应用会在您的计算机上设定或取用cookies ，以便您能登录或使用依赖于cookies的本应用平台服务或功能。</p>
                <p>(b)
                    您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的本应用网络服务或功能。
                </p>
                <p>(c) 通过本应用所设cookies所取得的有关信息，将适用本政策。</p>
                <p>6. 信息安全</p>
                <p>(a)
                    本应用帐号均有安全保护功能，请妥善保管您的用户名及密码信息。本应用将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。
                </p>
                <p>(b) 在使用本应用网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对</p>
                <p>7.本隐私政策的更改</p>
                <p>(a)如果决定更改隐私政策，我们会在本政策中、本公司网站中以及我们认为适当的位置发布这些更改，以便您了解我们如何收集、使用您的个人信息，哪些人可以访问这些信息，以及在什么情况下我们会透露这些信息。
                </p>
                <p>(b)本公司保留随时修改本政策的权利，因此请经常查看。如对本政策作出重大更改，本公司会通过网站通知的形式告知。</p>
                <p>方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是本应用用户名及密码发生泄露，请您立即联络本应用客服，以便本应用采取相应措施。
                </p>
                <p>开发者联系方式：15036757397</p>
                <p>杭州晓羽科技有限公司</p>
                <p style="font-size: 18px;text-align: center;margin: 10px 0;">用户信息保护制度</p>
                <p>一、前言</p>
                <p>为了保护用户的个人信息和隐私，确保用户在使用数字少年宫APP（以下简称“本APP”）时的信息安全，本APP特制定本用户信息保护制度。所有用户在使用本APP时，应当仔细阅读并理解本制度内容。</p>
                <p>二、信息收集</p>
                <p>1. 收集范围</p>
                <p>- 用户注册信息：包括学生姓名、手机号码、身份证号、性别、学校名称、家长信息等。</p>
                <p>- 位置信息：仅在必要时收集，以提供相关服务。</p>
                <p>2. 收集目的</p>
                <p>- 用于青少年宫（青少年活动中心）课程报名时的年龄匹配；</p>
                <p>- 青少年宫培训、活动服务属于公共服务，是普惠公益的，需要身份核实和报名数量限制；</p>
                <p>- 用于授课过程中的点到联系和教务教学通知；</p>
                <p>- 用于青少年宫购买对应的保险等；</p>
                <p>- 数据同步至浙江省IRS大数据管理平台。</p>
                <p>三、信息使用</p>
                <p>1. 合法合规使用</p>
                <p>- 用户信息仅用于本制度中明确的目的，不会用于其他任何未经用户授权的用途。</p>
                <p>四、信息存储和保护</p>
                <p>1. 信息存储</p>
                <p>- 用户信息存储在安全的云服务器上，并采取严格的安全措施保护信息安全。</p>
                <p>- 存储期间遵守法律法规的相关规定。</p>
                <p>2. 安全措施</p>
                <p>- 使用加密技术保护敏感信息的传输和存储。</p>
                <p>- 定期进行安全审计和漏洞修补，防止数据泄露和未经授权的访问。</p>
                <p>- 建立完善的数据备份和恢复机制，确保数据完整性和可用性。</p>
                <p>五、用户权利</p>
                <p>1. 信息查询和更正</p>
                <p>- 用户有权查询和更正其个人信息。如发现信息错误，可通过本APP提供的途径进行更正。</p>
                <p>2. 信息删除</p>
                <p>- 用户有权要求删除其个人信息，但删除后可能影响部分服务的使用，可联系对应报名的青少年宫删除。</p>
                <p>3. 撤回同意</p>
                <p>- 用户有权撤回对信息收集和使用的同意，但撤回后可能影响部分服务的使用。</p>
                <p>六、信息披露</p>
                <p>1. 法律要求</p>
                <p>- 在法律法规要求的情况下，本APP可能会披露用户信息，但会在符合法律规定的前提下尽量保护用户隐私。</p>
                <p>2. 保护权利</p>
                <p>- 为保护本APP的合法权利和利益，本APP有权在必要时披露用户信息。</p>
                <p>七、制度更新</p>
                <p>本制度会根据法律法规的变化和本APP服务的调整不定期进行更新。更新后的制度将通过本APP通知用户，并在必要时重新获得用户的同意。</p>
                <p style="font-size: 18px;text-align: center;margin: 10px 0;">未成年用户信息保护制度</p>
                <p>一、 青少年宫在提供教育培训、活动服务过程中，严格按照《中华人民共和国个人信息保护法》《中华人民共和国未成年人保护法》等相关法律法规的要求，保护未成年人的个人信息。</p>
                <p>二、 青少年宫仅在必要的情况下收集未成年人的个人信息，包括但不限于姓名、身份证号码、联系方式、监护人信息等。</p>
                <p>三、 青少年宫收集的未成年人个人信息仅限于：</p>
                <p>1. 学员报名注册时的信息核实；</p>
                <p>2. 学籍档案建立与管理；</p>
                <p>3. 课程安排、活动组织及评选；</p>
                <p>4. 教学安全保障及紧急事件处理；</p>
                <p>5. 其他基于青少年宫提供的服务所必需的用途。</p>
                <p>四、 青少年宫严格遵守最小必要原则，仅收集为提供服务所必须的未成年人个人信息。未经监护人同意，不会收集与提供服务无关的额外信息。</p>
                <p>五、 青少年宫将使用符合行业标准的信息安全措施，对未成年人个人信息进行加密存储与传输，确保信息在存储、传输和使用过程中的安全，防止信息泄露、篡改、丢失或被不当使用。</p>
                <p>六、 未成年人的个人信息仅限于青少年宫内部使用，未经监护人同意，不会向任何第三方公开或共享，除非法律法规另有规定，或在紧急情况下为保护未成年人的生命、健康或财产安全需要共享信息。</p>
                <p>七、 监护人有权在合理时间内，向青少年宫查询、更新、更正或删除其子女的个人信息。青少年宫将在合理时间内处理监护人的申请，确保信息的准确性和完整性。</p>
                <p>八、 如发生未成年人个人信息泄露等安全事件，青少年宫将立即启动应急响应措施，及时通知监护人和相关部门，采取补救措施，并按照法律法规的要求报告和处理。</p>
                <p>九、 青少年宫定期审核并更新未成年人个人信息处理流程，确保持续符合国家相关法律法规及数据安全标准。</p>
            </article>
        </div>
    </div>
    <div class="buttons" *ngIf="!agreed">
        <button ion-button round (click)="accept()">同意</button>
        <button ion-button round (click)="reject()">暂不使用</button>
    </div>
    <div class="buttons" *ngIf="agreed">
        <button ion-button round (click)="back()">返回</button>
    </div>
</ion-content>