<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>支付</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="pay-code">
    <img src="assets/imgs/payBg2.png" alt="">
    <div class="qrcode-box">
      <canvas #qrCanvas *ngIf="orgId == 'FEAB1A0CA40E4390E0430100007FAD58'"></canvas>
      <img [src]="qrImg" *ngIf="orgId != 'FEAB1A0CA40E4390E0430100007FAD58'">
    </div>
    <img src="assets/imgs/payBg1.png" alt="">
  </div>
</ion-content>
