<!--
  Generated template for the OrgSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>机构选择</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <div class="org-select">
    <div class="title">您好，请选择意向少年宫！</div>
    <div class="filters">
      <div class="select-filter custom-select">
        <div class="display">
          {{selectedProvinceName}}<ion-icon name="ios-arrow-down"></ion-icon>
        </div>
        <ion-select [(ngModel)]="selected.provinceId" [selectOptions]="getSelectOptions('province')" okText="确定"
          cancelText="取消" (ionChange)="selectProvince()">
          <ion-option *ngFor="let item of provinces" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </div>
      <div class="select-filter custom-select">
        <div class="display">
          {{selectedCityName}}<ion-icon name="ios-arrow-down"></ion-icon>
        </div>
        <ion-select [(ngModel)]="selected.cityId" [selectOptions]="getSelectOptions('city')" okText="确定" cancelText="取消"
          (ionChange)="selectCity()">
          <ion-option *ngFor="let item of cities" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </div>
    </div>
    <div class="org-list">
      <div class="item" *ngFor="let org of orgList" (click)="selectOrg(org)">{{org.bean.name}}</div>
    </div>
  </div> -->
  <div class="org-select">
    <div class="title">您好，请选择意向少年宫！</div>
    <div class="filters">
      <div class="select-filter custom-select">
        <div class="display">
          {{selectedProvinceName}}<ion-icon name="ios-arrow-down"></ion-icon>
        </div>
        <ion-select [(ngModel)]="selected.provinceId" [selectOptions]="getSelectOptions('province')" okText="确定"
          cancelText="取消">
          <ion-option *ngFor="let item of areaTree" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </div>
      <div class="select-filter custom-select">
        <div class="display">
          {{selectedCityName}}<ion-icon name="ios-arrow-down"></ion-icon>
        </div>
        <ion-select [(ngModel)]="selected.cityId" [selectOptions]="getSelectOptions('city')" (ngModelChange)="selected.hideMore = true" okText="确定" cancelText="取消">
          <ion-option *ngFor="let item of cityList" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </div>
    </div>
    <div class="org-list">
      <ng-container *ngFor="let org of orgList">
        <div *ngIf="(org.nature == 1 || org.nature == 2) || !selected.hideMore" class="item" (click)="selectOrg(org)">{{org.name}}</div>
      </ng-container>
      <div class="item" style="text-align: center;" (click)="showMore()" *ngIf="selected.hideMore">显示更多社会机构</div>
      <div class="footer" style="text-align: center;">服务咨询热线：<span>0571-85772015</span></div>
    </div>
  </div>
</ion-content>
